<div class="googlePanel">

  <div class="panel panel-default">
    <div>
      <em class="fa fa-refresh pull-right" (click)="getHomeTimeline()"
          style="padding:8px;"></em>
    </div>
    <button class="mb-sm btn btn-primary" type="button" id="googleConnect"
      (click)="connectToGoogle()" style="display: none;">
      Connect To Google
    </button>
      <div class="panel-body">
          <p class="lead text-center" *ngIf="">No mails here</p>
          <table class="table table-hover mb-mails">
              <tbody>
                  <tr *ngFor="let email of result; let i=index">
                      <td>
                          <i class="fa fa-3x fa-envelope pull-left" aria-hidden="true"></i>
                          <div class="mb-mail-date pull-right dates">{{Dates && Dates[i]}}</div>
                          <div class="mb-mail-meta">
                              <div class="pull-left">
                                  <div class="mb-mail-subject">{{Subjects && Subjects[i]}}</div>
                                  <div class="mb-mail-from">{{Froms && Froms[i]}}</div>
                              </div>
                              <small>
                                <div class="mb-mail-preview" [innerHTML]="email.snippet"></div>
                              </small>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
