@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';

.half-width{
  width:50%
}

.quater-width{
  width:25%;
}

.threeQuater-width{
  width:75%;
}
