
<div class="panel panel-default googlePanel">
  <div>
    <em class="fa fa-refresh pull-right" (click)="getHomeTimeline()"
        style="padding:8px;"></em>
  </div>
  <button class="mb-sm btn btn-primary" type="button" id="googleConnect"
    (click)="connectToGoogle()" style="display: none;">
    Connect To Google
  </button>
    <div class="panel-body">
        <p class="lead text-center" *ngIf="">No mails here</p>
            <div class="list-group" *ngFor="let email of result; let i=index">
                <div class="list-group-item">
                    <i class="fa fa-3x fa-envelope pull-left" aria-hidden="true"></i>
                    <div class="mb-mail-date pull-right dates">{{Dates && Dates[i]}}</div><br>
                    <div class="mb-mail-meta">
                        <div class="pull-left">
                            <div style="font-weight:bold;">{{Subjects && Subjects[i]}}</div>
                            <div class="mb-mail-from">{{Froms && Froms[i]}}</div>
                        </div><br>
                        <small>
                          <div class="snippet mb-mail-preview" [innerHTML]="email.snippet"></div>
                        </small>
                    </div>
                </div>
            </div>
  </div>
</div>


<!-- <div class="list-group" *ngFor="let tweet of result">
    <div class="list-group-item">
        <div class="media-box">
            <div class="pull-left">
                <img class="media-box-object img-circle thumb32"
                src={{tweet.user.profile_image_url_https}} alt="Image" />
            </div>
            <div class="media-box-body clearfix">
                <strong class="media-box-heading text-primary">
                  {{tweet.user.name}}
                </strong>
                @{{tweet.user.screen_name}}
                <p>
                  <small>{{tweet.text}}</small>
                </p>
            </div>
        </div>
    </div>
</div> -->
