<div class="weather-app" *ngIf="shown === 'settings'" id="weatherSettings">
  <em class="fa fa-arrow-left"(click)="shown = 'app'"></em>
  <input type="text" placeholder="city (Toronto)" #city/><br>
  <input type="text" placeholder="country (ca)" #country/><br>
  <input type="radio" name="metric" #metric /> Metric System<br>
  <input type="radio" name="metric"/> Imperial System<br>

  <em class="fa fa-floppy-o"(click)="updateWeatherSettings(city.value, country.value, metric.checked)"></em>
</div>

<div *ngIf="shown === 'app'" class="weather-app" id="weather-app">
  <div class="top">
    <em class="fa fa-cog"(click)="shown = 'settings'"></em>
    <div class="temperature">{{weather?.main.temp}}&deg;</div>
    <div class="location"><span>{{weather?.name}}</span></div>
    <div class="description">
      <img src={{iconUrl}} id="icon">
      <span>{{weather?.weather[0].description}}</span>
    </div>
  </div>

  <div class="right top">
    <div> max temperature: {{weather?.main.temp_max}}&deg;</div>
    <div> min temperature: {{weather?.main.temp_min}}&deg;</div>
  </div>

  <div class="humidity left bottom">
    Humidity: <span id="humidity">{{weather?.main.humidity}}</span>%
  </div>

  <div class="humidity right bottom">
    Wind Speed: <span id="wind">{{weather?.wind.speed}}</span>
  </div>

</div>
