.weather-app {
    margin: auto;
    width: 300px;
    box-shadow: 10px 10px 50px #888888;
    overflow: hidden;
    text-align:center;
    font-family: fantasy;
    font-size: 15px;
}

.left {
    float: left;
    width:150px;
    height:100%;
}

.temperature {
    font-size:32px;
    font-weight: bold;
    width: 150px;
}

.location {
    font-size: 18px;
}

.right {
    float: right;
    width:150px;
    height:100%;
}

.top {
    width: 100%;
    margin: auto;
    background: #7f91ab;
    color:white
}

.top img {
    margin-top: 15px;
}

.bottom {
    height: 70px;
    background: #7f858e;
    color: white;
    font-weight: bold;
}

.humidity {
    padding: 8px;
    font-family: cursive;
    font-size: 18px;
}

.description{
  background: #7ca9c3;
  color:white;
}
