
<!--<tr *ngFor="let tweet of result">
  <td>{{tweet.user.screen_name}}</td><br><br>
  <td>{{tweet.user.location}}</td><br><br>
  <td>{{tweet.user.profile_image_url}}</td><br><br>
  <td>{{tweet.user.created_at}}</td><br><br>
  <td>{{tweet.user.followers_count}}</td><br><br>
  <td>{{tweet.text}}</td>
</tr>-->

<!-- <div *ngFor="let tweet of result">
  <div >
    <img src="{{tweet.user.profile_image_url}}" alt="">
  </div>
  <div> Name: {{tweet.user.name}}</div>
  <div class="col-sm-3">Location: {{tweet.user.location}}</div>
  <div class="col-sm-2">Followers: {{tweet.user.followers_count}}</div>
  <div>
    <div class="col-sm-12 tweettext">{{tweet.text}}</div>
  </div>
</div> -->

<div class="panel panel-default" style="width:350px;">
  <div>
    <em class="fa fa-refresh pull-right" (click)="getHomeTimeline()"
                style="padding:8px;"></em><br>
  </div>
  <!-- START list group-->
  <div class="list-group" height="180" *ngFor="let tweet of result">
      <!-- START list group item-->
      <div class="list-group-item">
          <div class="media-box">
              <div class="pull-left">
                  <img class="media-box-object img-circle thumb32"
                  src={{tweet.user.profile_image_url_https}} alt="Image" />
              </div>
              <div class="media-box-body clearfix">
                  <strong class="media-box-heading text-primary">
                    {{tweet.user.name}}
                  </strong>
                  @{{tweet.user.screen_name}}
                  <p>
                    <small>{{tweet.text}}</small>
                  </p>
              </div>
          </div>
      </div>
      <!-- END list group item-->
  </div>
  <!-- END list group-->

</div>


<!--<div *ngFor="let tweet of result">
  <div class="row">
    <div class="col-sm-1">
      <img src="{{tweet.user.profile_image_url}}" alt="">
    </div>
    <div class="col-sm-3">Name: {{tweet.user.name}}</div>
    <div class="col-sm-3">Location: {{tweet.user.location}}</div>
    <div class="col-sm-3">Time: {{tweet.created_at | twitterDateWithTime}}</div>
    <div class="col-sm-2">Followers: {{tweet.user.followers_count}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 tweettext">{{tweet.text}}</div>
  </div>
</div>-->
